<h1 mat-dialog-title>{{ data.heading }}</h1>

<!-- body of dialog  -->
<div mat-dialog-content class="dialog-data">
  <p>{{ data.body }}</p>
  <div *ngIf="campaignData">
    <p class="data">Campaign ID : {{ campaignData.id }}</p>
    <p class="data">Campaign Name : {{ campaignData.name }}</p>
  </div>
</div>

<div mat-dialog-actions class="button-container">
  <button mat-button mat-dialog-close (click)="sendSignal(false)">
    Cancel
  </button>
  <button
    mat-button
    [color]="campaignData ? 'warn' : 'primary'"
    cdkFocusInitial
    (click)="sendSignal(true)"
  >
    {{ campaignData ? " Ok" : "Submit" }}
  </button>
</div>
