<div class="header">
  <h1>Create Campaign</h1>
  <span>{{newCampaign.name || 'New Campaign'}}</span>
</div>

<div class="stepper">
  <ul>
    <li [ngClass]="formFlag>0? 'done': formFlag==0? 'active':''">
      <i></i> Campaign Detail
    </li>
    <li [ngClass]="formFlag>1? 'done': formFlag==1? 'active':''">
      <hr> <i></i> Location Detail
    </li>
    <li [ngClass]="formFlag>2? 'done': formFlag==2? 'active':''">
      <hr> <i></i> Audience
    </li>
    <li [ngClass]="formFlag>3? 'done': formFlag==3? 'active':''">
      <hr> <i></i> Campaign Schedule
    </li>
    <li [ngClass]="formFlag>4? 'done': formFlag==4? 'active':''">
      <hr> <i></i> Campaign Summary
    </li>

  </ul>
</div>

<div class="__container">
  <h2>{{title}}</h2>


  <form [formGroup]="newCampaignForm">
    <!-- Display selected section outside ngSwitch -->
    <ng-container [ngSwitch]="sectionList[formFlag]">
      <ng-container *ngSwitchCase="'Details'">
        <ng-container *ngTemplateOutlet="Details"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'Location'">
        <ng-container *ngTemplateOutlet="Location"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'Audience'">
        <ng-container *ngTemplateOutlet="Audience"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'Schedule'">
        <ng-container *ngTemplateOutlet="Schedule"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'Summary'">
        <ng-container *ngTemplateOutlet="Summary"></ng-container>
      </ng-container>
    </ng-container>


    <!-- Campaign details form  -->
    <ng-template #Details>
      <div class="wrapper" formGroupName="details">
        <div>
          <label class="required" for="">Campaign Name</label>
          <input type="text" placeholder="Campaign Name" formControlName="name" />
          <span class="error-msg"
            *ngIf="newCampaignForm.get('details.name').invalid && newCampaignForm.get('details.name').touched">Name is
            Mandatory Field</span>
        </div>
        <div>
          <label class="required" for="">Campaign Objective</label>
          <input type="text" placeholder="Campaign Objective" formControlName="objective" />
          <span class="error-msg"
            *ngIf="newCampaignForm.get('details.objective').invalid && newCampaignForm.get('details.objective').touched">Objective
            is Mandatory Field</span>
        </div>
        <div class="columns-2">
          <div>
            <label for="">Campaign Category (Optional)</label>
            <select name="" id="" formControlName="category">
              <option value="" selected hidden disabled>
                Select Campaign Category
              </option>
              <option *ngFor="let category of categoryList" value="{{category}}">{{category}}</option>
            </select>
          </div>
          <div>
            <label for="">Offer Type (Optional)</label>
            <select name="" id="" formControlName="offerType">
              <option value="" selected hidden disabled>Select Offer Type</option>
              <option *ngFor="let offerType of offerTypeList" value="{{offerType}}">{{offerType}}</option>
            </select>
          </div>
        </div>
        <div>
          <label for="">Additional Comments (Optional)</label>
          <textarea name="" id="" formControlName="comments" placeholder="Additional Comments" cols="30"
            rows="10"></textarea>
        </div>
      </div>

    </ng-template>


    <!-- campaign location form  -->
    <ng-template #Location>
      <div class="wrapper">
        <div class="main_container">
          <div class="map-container">
            <div class="location-input-box">
              <input type="text" placeholder="Search" [(ngModel)]="newLocation" [ngModelOptions]="{standalone: true}">
              <button type="button" (click)="addLocation()"><i class="nf nf-fa-plus_circle"></i></button>
            </div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.160117212902!2d74.84101240179461!3d12.891481985242258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35b2c43c5594d%3A0xad33997edef04c61!2sPace%20Wisdom%20Solutions!5e1!3m2!1sen!2sin!4v1690218013197!5m2!1sen!2sin"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="location-input-container" #locationInputContainer>
            <div class="input-container" *ngIf="getLocations().length!=0" formArrayName="locationList">
              <div class="location-input-wrapper" *ngFor="let location of getLocations(); let i=index">
                <input class="location-input" type="text" formControlName="{{i}}">
                <i class="nf nf-md-trash_can" (click)="removeLocation(i)"></i>
              </div>
            </div>
            <div class="input-container-placeholder" *ngIf="getLocations().length==0">
              <h2>Please add location</h2>
            </div>
            <div class="radius-input">
              <label for="">Radius</label>
              <select formControlName="radius" name="radius" id="">
                <option *ngFor="let radius of radiusList" value="{{radius}}">{{radius}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>


    </ng-template>

    <!-- campaign audience form  -->
    <ng-template #Audience>
      <div class="wrapper">
        <div class="input-container">
          <input type="text" placeholder="Search">
          <button type="button" (click)="isdDropdownVisible=!isdDropdownVisible">Browse&nbsp;<i
              class="nf nf-fa-angle_down"
              [ngClass]="isdDropdownVisible? 'nf-fa-angle_down':'nf-fa-angle_right'"></i></button>
        </div>
        <div class="dropdown-container " [class.visible]="isdDropdownVisible">

          <div class="dropdown-section">
            <h3 class="heading">Industry</h3>

            <div class="category-container">
              <ng-container *ngFor="let category of audienceCategories">
                <div class="category">
                  <div>
                    <h3>{{category.name}}</h3>
                    <p class="categories-count">{{category.subCategories.length}}</p>
                  </div>
                  <i class="nf nf-fa-angle_right"></i>

                  <div class="sub-category-container">
                    <ng-container *ngFor="let subCategory of category.subCategories">
                      <div class="category">
                        <div>
                          <h3>{{subCategory.name}}</h3>
                          <p class="categories-count">{{subCategory.subCategories.length}}</p>
                        </div>
                        <i class="nf nf-fa-angle_right"></i>

                        <div class="sub-category-option-container">
                          <ng-container *ngFor="let option of subCategory.subCategories">
                            <div class="category">
                              <input type="checkbox">
                              <label>{{option.name}}</label>
                              <span class="count">{{option.count}}</span>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="dropdown-section">
            <h3 class="heading">Category</h3>
            <div class="category-container"></div>
          </div>

          <div class="dropdown-section">
            <h3 class="heading">Application</h3>
            <div class="category-container"></div>
          </div>
        </div>
      </div>
    </ng-template>


    <!-- campaign schedule form  -->
    <ng-template #Schedule>
      <div class="wrapper" formGroupName="Schedule">
        <div>
          <label class="required" for="">Start Date</label>
          <input type="datetime-local" formControlName="startDate" placeholder="Campaign Objective">
        </div>
        <div>
          <label for="">End Date</label>
          <input type="datetime-local" formControlName="endDate" placeholder="Campaign Objective">
        </div>
      </div>
    </ng-template>


    <!-- campaign summary form  -->
    <ng-template #Summary>
      <div class="wrapper">
        <div class="hero-container">
          <table>
            <tr>
              <td>Campaign Id</td>
              <td>{{newCampaign.id }}</td>
            </tr>
            <tr>
              <td>Campaign Name</td>
              <td>{{newCampaign.name }}</td>
            </tr>
            <tr>
              <td>Campaign Objective</td>
              <td>{{ newCampaign.objective }}</td>
            </tr>
            <tr>
              <td>Campaign Category</td>
              <td>{{ newCampaign.category }}</td>
            </tr>
            <tr>
              <td>Offer Type</td>
              <td>{{ newCampaign.offerType }}</td>
            </tr>
            <tr>
              <td>Location</td>
              <td>{{ newCampaign.location }}</td>
            </tr>
            <tr>
              <td>Radius</td>
              <td>{{ newCampaign.radius }}</td>
            </tr>
            <tr>
              <td>Audience</td>
              <td>{{ newCampaign.audience }}</td>
            </tr>
            <tr>
              <td>Start Date</td>
              <td>
                {{ newCampaign.schedule.startDate | date : "d MMMM, hh:mm a" }}
                <span class="year">{{ newCampaign.schedule.startDate | date : "YYYY" }}</span>
              </td>
            </tr>
            <tr>
              <td>End Date</td>
              <td>
                {{ newCampaign.schedule.endDate | date : "d MMMM, hh:mm a" }}
                <span class="year">{{ newCampaign.schedule.endDate | date : "YYYY" }}</span>
              </td>
            </tr>
            <tr>
              <td>Status</td>
              <td class="status">
                <span class="{{newCampaign.status}}">{{ newCampaign.status }}</span>
              </td>
            </tr>
            <tr>
              <td>CTR</td>
              <td class="ctr">{{ newCampaign.ctr }}</td>
            </tr>
          </table>
          <div class="image-container">
            <img src="../../../assets/images/campaign.jpg" alt="" />
          </div>
        </div>
      </div>
    </ng-template>


  </form>

  <div class="button-container">
    <button type="button" class="secondary-btn" (click)="prev()" *ngIf="formFlag>0">Back</button>
    <button type="button" class="primary-btn" (click)="next()">Next</button>
  </div>



</div>