.header {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
  // height: 50px;
  min-height: 50px;
  margin-bottom: 1rem;
  padding-inline: 0.5rem;



  .campaignName {
    padding: 0.5rem 1rem;
    display: block;
    min-width: 12rem;
    background-color: rgba(rgb(0, 0, 0), 0.1);
    border-radius: 0.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  h1 {
    font-size: min(5vw, 2rem);
  }

  h1,
  .campaignName {
    margin-bottom: 1rem;
  }

  .campaignName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  div {
    &:last-child {
      margin-left: auto;

      @media (width<900px) {
        display: none
      }
    }
  }

  @media (width<600px) {
    position: sticky;
    top: 0.75rem;
    z-index: 999;
    margin: -50px 0 0 40px;
    width: auto;


    color: white;


  }
}