.__container {
  padding: 2rem;
  background-color: #fff;

  .heading {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    z-index: 0;
  }


  .table-placeholder {
    min-height: 35vh;
    display: grid;
    place-content: center;

    h2 {
      color: lighten(#c6cfdc, 0.5);
    }
  }
}


.table_container {
  min-height: 25vh;

  &:not(:has(.view-campaign)) {
    overflow-x: scroll;
  }

  &:has(.view-campaign) {

    display: flex;
    align-items: center;
    justify-content: space-evenly;


  }

  table {
    margin-block: 2rem;
    border-collapse: collapse;

    th,
    td {
      padding-block: 1.5rem;
      border-bottom: 1px solid gray;
      font-weight: 500;

      &:not(td) {
        font-weight: 600;
      }
    }

    &.list-campaign {

      th,
      td {
        &:nth-child(1) {
          width: 10%;
          min-width: 8ch;
        }

        &:nth-child(2) {
          min-width: 20ch;

          .link-icon {
            display: inline-block;
            position: relative;

            mat-icon {
              line-height: 1;
              position: absolute;
              bottom: -10px;
              font-size: 1rem;

            }
          }



          &:hover:not(th) {
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: black;
            text-underline-offset: 5px;
          }
        }

        &:nth-child(3) {
          width: 15%;
          min-width: 15ch;

          &:not(td) {
            padding-inline: 1.5rem;
          }
        }

        &:nth-child(4) {
          width: 10%;
          min-width: 8ch;
        }

        &:nth-child(5) {
          width: 25%;
          min-width: 18ch;
        }

        &:nth-child(6) {
          width: 7%;
          min-width: 12ch;
        }
      }

    }

    .status {
      min-width: 6rem;
      max-width: 7rem;
      display: inline-block;
      text-align: center;
      padding: 0.4rem 0.5rem;
      border-radius: 2rem;
      font-size: 0.95rem;

      &.Completed {
        background-color: rgba(187, 255, 186, 0.8);
        color: rgb(28, 141, 5);
      }

      &.Draft {
        background-color: rgb(193, 193, 193, 0.8);
        color: rgb(88, 88, 89);
      }

      &.Scheduled {
        background-color: rgba(186, 196, 255, 0.8);
        color: rgb(5, 19, 141);
      }
    }

    .ctr {
      &:after {
        content: '%';
      }
    }

    .year {
      font-weight: 500;
      color: gray;

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }
}


.view-campaign {
  height: min-content;
  width: min(100%, 800px);
  margin-inline: auto;

  tr {
    td {
      padding-block: 1.5rem;
      border-bottom: 0.5px solid rgba(gray, 0.3);

      &:nth-child(1) {
        font-size: 0.9rem;
        color: gray;
      }

      &:nth-child(2) {
        text-align: right;
      }
    }

    &:nth-child(3) {
      td {
        padding-block: 1rem;
      }
    }
  }

}

.img-container {
  width: 40%;
  text-align: center;

  @media (width<768px) {
    display: none;
  }

  img {
    width: 100%;
  }
}

.action-btns {
  justify-content: flex-start;
}


mat-stepper {

  form {
    background-color: rgba(#c6cfdc, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .col-6 {
    display: flex;
    gap: 1rem;

    >* {
      display: block;
      width: 50%;

    }


  }

  @media (width<768px) {
    padding-block: 2rem;

    .col-6 {
      flex-direction: column;

      >* {
        width: 100%;
      }
    }
  }
}

.wrapper-container {
  display: flex;
  gap: 1rem;

  .map-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    gap: 1rem;

    iframe {
      flex-grow: 1;
      min-height: 25vh;
    }
  }

  .location-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .input-container-placeholder,
    .location-array-container {
      background-color: rgba(#c6cfdc, 0.3);
      height: 40vh;

      @media (width<768px) {
        height: 30vh;

      }
    }

    .input-container-placeholder {
      display: grid;
      place-content: center;
      color: rgba(gray, 0.5);
      text-align: center;
    }

    .location-array-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      overflow-y: auto;
      counter-set: location-count;

      &::-webkit-scrollbar {
        width: 0.75rem;
      }

      mat-form-field {
        counter-increment: location-count 1;

        mat-label {
          &:after {
            content: ' ' counter(location-count);
          }
        }

        div {
          &:nth-child(2) {
            display: none !important;
          }
        }
      }
    }
  }

  @media (width<768px) {
    flex-direction: column;

    .map-container {
      width: 100%;
      flex-direction: column-reverse;
      gap: 1rem;
    }

    .location-container {
      width: 100%;

    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

button {
  padding-inline: 0.75rem !important;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    mat-icon {
      font-size: 1.125rem;
      display: flex;
      align-items: center;
      width: auto;
    }
  }
}

.col-9-3 {
  display: flex;

  mat-form-field {
    flex-grow: 1;
  }

  button {
    height: fit-content;
    min-height: 56px;
    font-size: 1rem;
    border: 1px solid gray;
  }
}


.dropdown-container {
  margin-block: 1rem;
  display: none;
  height: max-content;



  @media (width<768px) {
    .category {


      div {


        h3 {
          font-size: 1rem !important;
        }

        p {
          font-size: 0.9rem;
        }
      }

      i {
        top: 0.5rem !important;
        left: 0.5rem;
      }
    }
  }

  &.visible {
    display: flex;
  }

  box-shadow: 10px 10px 40px rgba(gray, 0.3);

  .dropdown-section {
    width: 33%;

    &:not(:last-child) {
      border-right: 1px solid rgba(gray, 0.5);
    }

    .heading {
      color: rgba(gray, 0.5);
      font-weight: 600;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid rgba(gray, 0.5);
      font-size: 1.3rem;
    }

    &:nth-child(2),
    &:nth-child(3) {
      .category-container {
        display: none;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      .category-container {
        position: relative;
        z-index: -1;
      }
    }

    .category-container {
      position: relative;
      min-height: 450px;

      .category {
        padding: 1rem 1.5rem;
        display: flex;
        align-items: center;

        h3 {
          font-weight: 600;
          font-size: 1.3rem;
          margin-bottom: 0.25rem;
        }

        .categories-count {
          opacity: 0.8;

          &::after {
            content: " categories";
          }
        }

        input[type="checkbox"] {
          width: 1.5rem;
          aspect-ratio: 1/1;
        }

        label {
          font-size: 1.1rem;
          font-weight: 500;
          padding-inline: 1rem;
        }

        .count {
          margin-left: auto;
          font-weight: 500;
          color: rgba(gray, 0.5);
        }

        i {
          margin-left: auto;
        }

        .sub-category-container {
          display: none;
          min-height: 300px;
          background-color: #fff;
          color: black;
          position: absolute;
          left: calc(100% + 1px);
          top: 0;
          width: 100%;

          .category {
            .sub-category-option-container {
              display: none;
              min-height: 300px;
              background-color: #fff;
              color: black;
              position: absolute;
              left: calc(100% + 1px);
              top: 0;
              width: 100%;

              @media (width<768px) {
                option {
                  font-size: 0.8rem;
                }
              }
            }

            &:hover {
              .sub-category-option-container {
                display: block;
              }
            }
          }
        }

        &:hover {
          background-color: #daeaff;
          color: blue;

          .sub-category-container {
            display: block;
          }
        }
      }
    }
  }
}