.sidenav-container {
  height: 100%;

  .sidenav {
    width: 200px;
  }

  .mat-sidenav {
    * {
      line-height: 1.5 !important;
    }

    .mat-toolbar {
      background: inherit !important;
    }

    .navigation {
      padding-inline: 1.5rem;
    }
  }

  mat-toolbar {
    display: none;
  }

  @media (width<600px) {
    .mat-toolbar-single-row {
      padding: 0 !important;
    }

    mat-toolbar {
      display: flex;
    }
  }

  .mat-sidenav-content {
    background-color: rgb(229, 229, 229);

    .mat-toolbar.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    @media (width<768px) {
      background-color: #fff;

    }

  }
}


.router-outlet {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding: 1rem;

  @media (width<768px) {
    padding: 0;
  }
}