@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  font-size: min(3vw, 14px);
}


// reset the styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;

  &:not(.material-icons, .mat-icon) {
    font-family: "Poppins", sans-serif !important;

  }

  accent-color: #4758b8;
}

html {
  height: 100%;
}

body {
  height: 100%;

  @media (width<768px) {
    min-height: 100vh;
    min-height: 100svh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  //hide the scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
}

// default styling for buttons and anchor tags
button,
a {
  text-decoration: none;
  font-weight: 500;
  color: unset;
  font-size: 1rem !important;

  :hover {
    cursor: pointer;
  }
}


//change font styling of heading tags
h1,
h2,
h3,
h4 {
  font-weight: 500 !important;
  letter-spacing: 0.5px !important;
}


//custom scrollbar styling
::-webkit-scrollbar {
  height: 0.75rem;
  width: 0rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: rgba(#4758b8, 0.8);
}

::-webkit-scrollbar-track {
  background-color: rgba(#c6cfdc, 0.5);
  border-radius: 20px;
}



.wrapper-container {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}


//default styling for button container
.button-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end !important;
}